{%extends 'empmngt/navbar.html'%}
{%block nav_block%}
<section class='container my-5'>
  <div class='text-center w-25 mx-auto'>
    <h1 class='fw-bold mb-2'>Login</h1>
    <form method="post">
        {% csrf_token %}
<div class="my-3 text-start">
  <label class="form-label">Username</label>
  <input type="text" name="username" class="form-control"placeholder="Enter Username">
</div>
<div class="mb-3 text-start">
  <label class="form-label">Password</label>
  <input type="password" name="password" class="form-control" placeholder="Enter Password">
</div>
<div class="my-4"><input type="submit" class="btn btn-primary px-5" placeholder="Submit">
</div>
</form>

</section>
{%endblock%}