{%extends 'empmngt/navbar.html'%}
{%block nav_block%}
<section class='container my-5'>
    <center><h1 class='fw-bold my-5'>Employee Page</h1></center>
    <div class="d-grid gap-3 col-6 mx-auto px-5">
    <a href='/holidays'><button class='form-control btn btn-warning'>Calender Holidays</button>
    <a href='/news'><button class='form-control btn btn-warning'>Latest News</button>
    <a href='/jobs'><button class='form-control btn btn-warning'>Current Job Openings</button>
    </div>
</section>
{%endblock%}