{% extends "empmngt/navbar.html" %}

{% block nav_block %}

<section class="container text-center my-5 py-5">

    <h1 class="fw-bold mt-5">
        Currently Facing a Technical Issue
    </h1>

    <p class="lead mt-4">
        We are currently experiencing a technical issue.
    </p>

    <p class="text-muted">
        Please visit again after some time. We apologize for the inconvenience.
    </p>

    <a href='/home'><button class='btn btn-dark'>Go To Home</button></a>
</section>

{% endblock %}